*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
/serverless-content-syndication-with-step-functions.iml
.DS_Store
.idea/
